
body {
    font-family: "Arial";
    text-align: center;
}

.main-image {
    border: solid 5px black;
    border-radius: 50%;
    width: 200px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


h1 {
    background-color: lightskyblue;
    padding: 5px;
    text-align: center;
}

.Section-title {
    text-transform: uppercase;

}
ul {
    list-style-position: inside;
}
footer {
    text-align: left;
}