.body {
    font-family: "Arial";
    text-align: center;
}

.main-image {
    border: solid 5px black;
    border-radius: 50%;
    width: 200px;
}

.h1{
    background-color: lightskyblue;
    padding: 100px;
    text-align: center;
}

.Section-title
    text-transform: uppercase;
    text-align: center;
}

.ul {
    list-style-position: inside;
}

.footer{
    text-align: left;
}